package layout


templ Base(){
<html>
<head>
      <script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

</head>
<body>
<h1 class="text-5xl font-bold flex items-center justify-center">
This is from Basse layout</h1>
    {children...}
</body>
</html>
}